.text-bold{
  font-weight: bold;
}

.border-bottom{
  border-bottom: 1px solid grey;
}

.p-5{
  padding: 5px 0;
}

.border-right{
  border-right: 1px solid grey;
}

.mb-7{
  margin-bottom: 7px;
}

.divider{
  height: 1px;
  width: 80%;
  color: grey;
}

.available{
  color: green;
}

.not-available{
  color: red;
}

.mb-40{
  margin-bottom: 40px;
}

.mt-4{
  margin-top: 4px;
}

.mt-8{
  margin-top: 8px;
}

.red{
  color: red;
}

.mt-14{
  margin-top: 14px;
}

.fw-b{
  font-weight: bold;
}

.fs-10{
  font-size: 10px;
}

.fs-13{
  font-size: 13px;
}

.fs-12{
  font-size: 12px;
}

.mt-18{
  margin-top: 18px;
}

.mt-7{
  margin-top: 7px;
}

.pl-251{
  padding-left: 251px;
}

.pr-2{
  padding-right: 2px;
}

.mt-95{
  margin-top: 95px;
}

.mt-20{
  margin-top: 20px;
}

.pb-20{
  padding-bottom: 20px;
}
